default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
  - repo: local
    hooks:
      - id: make-check
        name: Run make check (lint + type + test)
        entry: make check
        language: system
        pass_filenames: false
        always_run: true
        verbose: true

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
